@{
    var role = "";
    if(User.Identity.IsAuthenticated)
    {
        if(User.IsInRole("Admin"))
            role = "Администратор";
        else if(User.IsInRole("Seller"))
            role = "Продавец";
        else if(User.IsInRole("Customer"))
            role = "Покупатель";
    }
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">Главная</a>
            </li>
            @if(User.IsInRole("Customer"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Customer/Index">Личный кабинет</a>
                </li>
            }
            else if(User.IsInRole("Seller"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Product/Index">Управление товарами</a>
                </li>
            }
            else if(User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Staff/Index">Управление персоналом</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav">
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link">
                        @User.Identity.Name <span>(@role)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Auth/Logout">Выйти</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Auth/Login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Auth/Registration">Регистрация</a>
                </li>
            }
        </ul>
    </div>
</nav>